global:
  resolve_timeout: 5m

route:
  receiver: "webhook_receiver"
  routes:
    - match:
        alertname: "HighDiskUsage"
      receiver: "webhook_receiver"
    - match:
        alertname: "HighCPULoad"
      receiver: "webhook_receiver"

receivers:
  - name: "webhook_receiver"
    webhook_configs:
      - url: "http://{{ hostvars['management-node'].ansible_host }}:8080/alertmanager-webhook"
