global:
  resolve_timeout: 5m

route:
  receiver: 'webhook_receiver'
  routes:
    - match:
        alertname: 'HighDiskUsage'
      receiver: 'webhook_receiver'

receivers:
  - name: 'webhook_receiver'
    webhook_configs:
      - url: 'http://10.134.12.115:8080/alertmanager-webhook' 
