[Unit]
Description=Flower Service
After=network.target

[Service]
Type=simple
User=almalinux
Group=almalinux
WorkingDirectory=/opt/data_pipeline/
Environment="PATH=/opt/data_pipeline/flower_env/bin"
ExecStart=/opt/data_pipeline/flower_env/bin/celery -A celery_worker flower --port=5555{% if flower_auth %}
 --basic_auth={{ flower_auth }}{% endif %}
Restart=always

[Install]
WantedBy=multi-user.target
