# roles/flower/templates/flower.service.j2

[Unit]
Description=Flower Service
After=network.target

[Service]
Type=simple
User={{ flower_user }}
Group={{ flower_group }}
WorkingDirectory=/opt/data_pipeline/
Environment="PATH={{ flower_virtualenv_path }}/bin"
ExecStart=/opt/data_pipeline/flower_env/bin/celery -A celery_worker flower --port=5555Restart=always
--basic_auth={{ flower_auth }}{% endif %}
Restart=always

[Install]
WantedBy=multi-user.target
