- name: Common Configuration for All Machines
  hosts: all
  become: yes
  vars:
  tasks:
    - name: Update and upgrade packages on Debian-based systems
      apt:
        update_cache: yes
        upgrade: dist
      when: ansible_os_family == "Debian"

    - name: Update and upgrade packages on RedHat-based systems
      yum:
        name: "*"
        state: latest
      when: ansible_os_family == "RedHat"

    - name: Install essential packages on Debian-based systems
      apt:
        name:
          - git
          - vim
          - curl
          - wget
          - python3
          - python3-pip
        state: present
      when: ansible_os_family == "Debian"

    - name: Install essential packages on RedHat-based systems
      yum:
        name:
          - git
          - vim
          - curl
          - wget
          - python3
          - python3-pip
          - python3-devel    # Provides development headers for building virtual environments
          - pigz
          - firewalld
          - python3-firewall
        state: present
      when: ansible_os_family == "RedHat"

    - name: Upgrade pip to the latest version on all machines
      pip:
        name: pip
        executable: pip3
        state: latest

    - name: Ensure firewalld is installed on RedHat-based systems
      package:
        name: firewalld
        state: present
      when: ansible_os_family == "RedHat"

    - name: Ensure firewalld is running and enabled on RedHat-based systems
      systemd:
        name: firewalld
        state: started
        enabled: yes
      when: ansible_os_family == "RedHat"

    - name: Allow HTTP and HTTPS in firewall
      firewalld:
        service: "{{ item }}"
        state: enabled
        permanent: yes
      loop:
        - http
        - https
      notify: reload firewalld

    - name: Ensure Nginx is installed on all machines
      package:
        name: nginx
        state: present

    - name: Install Certbot on RedHat-based systems
      yum:
        name:
          - certbot
          - python3-certbot-nginx
        state: present
      when: ansible_os_family == "RedHat"
