# /home/almalinux/ansible/playbooks/configure_nfs_server.yml
- name: Configure NFS Server
  hosts: storage
  become: yes
  tasks:
    - name: Ensure nfs-utils is installed
      yum:
        name: nfs-utils
        state: present

    - name: Ensure rpcbind is installed (usually part of nfs-utils, but just to be sure)
      yum:
        name: rpcbind
        state: present

    - name: Ensure firewalld is installed
      yum:
        name: firewalld
        state: present

    - name: Start and enable firewalld
      systemd:
        name: firewalld
        state: started
        enabled: yes

    # Add firewall services for NFS
    # NFS usually needs rpc-bind, nfs, and mountd services allowed
    - name: Allow NFS related services in firewall
      firewalld:
        service: "{{ item }}"
        state: enabled
        permanent: yes
      loop:
        - nfs
        - rpc-bind
        - mountd
      notify: reload firewalld

    - name: Enable and start RPC services
      systemd:
        name: rpcbind
        state: started
        enabled: yes

    - name: Start and enable NFS server
      systemd:
        name: nfs-server
        state: started
        enabled: yes

    # Your existing tasks for partitioning, mounting, and exporting NFS directories
    - name: Create partition on data disk
      community.general.parted:
        device: /dev/vdb
        number: 1
        state: present
        part_type: primary
        fs_type: ext4
        part_start: "0%"
        part_end: "100%"

    - name: Create filesystem on data partition
      community.general.filesystem:
        fstype: ext4
        dev: /dev/vdb1

    - name: Create mount point for datasets
      file:
        path: /mnt/datasets
        state: directory

    - name: Mount the data partition
      mount:
        path: /mnt/datasets
        src: /dev/vdb1
        fstype: ext4
        state: mounted

    - name: Enable and start NFS services (redundant check, ensures NFS is running)
      systemd:
        name: nfs-server
        state: started
        enabled: yes

    - name: Ensure 'nfsnobody' group exists
      group:
        name: nfsnobody
        state: present

    - name: Ensure 'nfsnobody' user exists
      user:
        name: nfsnobody
        group: nfsnobody
        shell: /sbin/nologin
        comment: 'Anon NFS User'
        state: present

    - name: Create mount point for results
      file:
        path: /mnt/results
        state: directory

    - name: Ensure proper permissions on datasets and results directories
      file:
        path: "{{ item }}"
        owner: nfsnobody
        group: nfsnobody
        mode: '0777'
      loop:
        - /mnt/datasets
        - /mnt/results

    - name: Configure NFS exports
      copy:
        content: |
          /mnt/datasets *(rw,sync,no_root_squash)
          /mnt/results *(rw,sync,no_root_squash)
        dest: /etc/exports
        owner: root
        group: root
        mode: '0644'

    - name: Export NFS shares
      command: exportfs -rav

  handlers:
    - name: reload firewalld
      systemd:
        name: firewalld
        state: reloaded
