# /home/almalinux/ansible/playbooks/setup_redis.yml

- name: Setup Redis Server for Celery
  hosts: storage
  become: yes
  tasks:
    - name: Install EPEL repository
      yum:
        name: epel-release
        state: present

    - name: Install Redis
      yum:
        name: redis
        state: present

    - name: Configure Redis to accept connections from workers
      lineinfile:
        path: /etc/redis/redis.conf
        regexp: '^bind '
        line: 'bind 0.0.0.0'
      notify: restart redis

    - name: Install firewalld
      yum:
        name: firewalld
        state: present

    - name: Start and enable firewalld
      systemd:
        name: firewalld
        state: started
        enabled: yes

    - name: Allow Redis port in firewall
      firewalld:
        port: 6379/tcp
        permanent: yes
        state: enabled
        immediate: yes

    - name: Start and enable Redis service
      systemd:
        name: redis
        state: started
        enabled: yes

  handlers:
    - name: restart redis
      systemd:
        name: redis
        state: restarted
