[defaults]
roles_path = /home/almalinux/data-pipeline/ansible/roles
private_key_file = /home/almalinux/.ssh/ansible_ed25519 
inventory = /home/almalinux/data-pipeline/ansible/inventories/inventory.json
host_key_checking = False